
html{
	height:100%;
	overflow:visible;
}

body{
    background: #f9f9f9 url(../images/white_texture.png) repeat top left;
	font-family: 'bariol_regularregular';
	font-weight:normal;
	min-height:100%;
	max-height:100%;
	height:100%;
}
*{
	margin:0;
	padding:0;
}
.clr{
	clear:both;
}
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

::selection {
	color:#FFF;
	background-color:#4bbec2;
	text-shadow:none;
}
::-moz-selection {
	color:#FFF;
	background-color:#4bbec2;
	text-shadow:none;
}
h1{
	font-family: 'bariol_regularregular';
	font-size:35px;
	color:#660000;
	padding-top:60px;
	height:75px;
	max-width:350px;
	width:100%;
	overflow:hidden;
	text-align:center;
	margin:0 auto;
	background-image:url(../images/headingbg.png);
	background-position:center bottom;
	background-repeat:no-repeat;
	text-shadow: 1px 1px 2px #fff;
}

h2{
	font-family: 'bariol_regularregular';
	font-size: 26px;
	font-weight:normal;
	color: #660000;
	padding: 1%;
	height: auto;
	width: 98%;
	text-align: left;
	text-shadow: 1px 1px 2px #fff;
	border-bottom:solid 1px #CCC;
}
.bestcss{
	width:95px;height:82px;position:absolute;top:85px;left:0px;z-index:999;text-indent:-9999px;background: url(http://www.bestcss.in/ribbons/black-left.png) no-repeat; background-size:75px;
}
.csslight{
	width:75px;height:52px;position:absolute;top:160px;left:0px;z-index:999;text-indent:-9999px;background: url(http://www.csslight.com/ribbons/csslight-featured-ribbon-black-left.png) no-repeat; background-size:75px;
}
.csswinner{
	position:absolute;
	top:225px;
	left:0px;
	z-index:999;
}
.csswinner a{
	width:75px;
	height:59px;
	text-indent:-9000px;
	display:block;
	background:url(../images/nominee-black-left.png) no-repeat;
}
.cssreel{
	background:url(../images/cssreel.png) no-repeat scroll 0 0 transparent;
	height: 100px;
	position: absolute;
	left: 0;
	top: 295px;
	width: 58px;
	z-index: 999;
} 
.cssreel a{
	float: left;
	height: 100px;
	line-height: 5000px;
	overflow: hidden;
	width: 58px;
} 
/* Navigation */

#navigation{
	width:100%;
	height:85px;
	position:fixed;
	z-index:8000;
	background-color:#FFF;
	border-bottom:solid 1px #4f0000;
	font-family: 'bariol_regularregular';
}
#navwrap{
	width:100%;
	max-width:1024px;
	margin:0% auto;
	height:auto;
}
#navwrap a{
	text-decoration:none;
	color:#666;
}
#navleft {
	float: left;
	width: 363px;
	padding-right: 0px;
	padding-left: 15px;
}
#navright {
	float: left;
	width: 340px;
	padding-left: 25px;
}
#navleft ul, #navright ul{
	display:block;
	padding:0;
	list-style-type:disc;
}
#navleft ul li, #navright ul li{
	list-style-type:none;
	line-height:85px;
	font-size:18px;
	padding:0px 10px 0px 10px;
	text-align:center;
	float:left;
}
#navright ul li{
	padding:0px 12px 0px 12px;
}
#navleft ul li a, #navright ul li a{
	text-decoration:none;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
#navleft ul li a:hover, #navright ul li a:hover{
	color:#660000;
}
#logo{
	width:260px;
	height:85px;
	float:left;
	display:block;
	background-repeat:no-repeat;
}
#logo2{
	width:260px;
	height:60px;
	float:left;
	margin-left:10px;
	display:none;
	z-index:6666;
	text-align:left;
}
#logo3{
	width:150px;
	height:50px;
	float:left;
	margin-left:5px;
	display:none;
	z-index:6666;
	text-align:left;
}
#navwrap a{
	width:250px;
	height:85px;
}
@media screen and (max-width: 1017px){
	#navigation{
		display:none;
	}
	#logo2{
		display:block;
	}
	.bestcss{
	top:60px;
}
.csslight{
	top:135px;
}
.csswinner{
	top:200px;
}
.cssreel{
	top:270px;
}
}
@media screen and (max-width: 400px){
	#logo3{
		display:block;
	}
	#logo2{
		display:none;
	}
	.bestcss, .csslight, .csswinner, .cssreel{
	display:none;
}
}
/* Navigation end */

#supersized { position:fixed; left:0; top:0; overflow:hidden; z-index:-999; height:100%; width:100%; }

#supersized img{ width:auto; height:auto; position:relative; outline:none; border:none; }
		
#supersized a { z-index:-999; position:fixed; overflow:hidden; top:0; left:0; width:100%; height:100%; background-image:url(images/mainbg.jpg); background-repeat:repeat; display:block; padding-top:80px;}

@media screen and (max-width: 1017px){
#supersized a {
	padding-top:55px;
	height:80%;
}
}
@media screen and (max-width: 400px){
	#supersized a {
	padding-top:45px;
}
}
/* Supersize end */

/* Home */

#home{
	min-height:100%;
	width: 100%;
	position: relative;
	text-align: center;
	margin: 0px auto; 
	display: block;
}


/* Home End */

#initialblur img{
	
	/*max-width:100%;
	padding-top:100px;
	height:100%;
	overflow: hidden;*/
	width:100%;
	max-width:700px;
	height:auto;
	padding-top:100px;
	float: right;
}


#wrap{
	width:100%;
	height:auto;
	overflow:hidden;
 	background: #f9f9f9 url(../images/white_texture.png) repeat top left;
}

/* Our story */
#ourstory{
	width:100%;
	display:block;
	overflow:hidden;
}
h2.ss-subtitle{
    padding: 10px 10px 40px;
    font-size: 52px;
    text-transform: uppercase;
    color: rgba(0,0,0,0.8);
	position: relative;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}
h2.ss-subtitle:before{
	width: 4px;
	height: 40px;
	background: rgba(17,17,22,0.8);
	content: '';
	position: absolute;
	right: 75%;
	margin-right: -4px;
	bottom: -4px;
	-moz-border-radius: 2px 2px 0px 0px;
	-webkit-border-radius: 2px 2px 0px 0px;
	border-radius: 2px 2px 0px 0px;
}
h2.ss-subtitle:after{
	width: 25%;
	height: 0px;
	border-bottom: 4px dotted rgba(17,17,22,0.8);
	content: '';
	position: absolute;
	right: 50%;
	margin-right: -1px;
	bottom: -4px;
}

.ss-links{
	position: fixed;
	left: 10px;
	top: 166px;
	width: 25%;
	z-index: 100;
}
.ss-links a{
	background: rgba(0,0,0,0.2);
	font-size: 16px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin: 5px;
	float: left;
	border-radius: 50%;
	display: block;
	text-align: center;
	-webkit-transition: background 0.2s linear;
	-moz-transition: background 0.2s linear;
	-o-transition: background 0.2s linear;
	-ms-transition: background 0.2s linear;
	transition: background 0.2s linear;
}
.ss-links a:hover{
	background: rgba(0,0,0,0.4);
}
.ss-container{
	width: 100%;
	position: relative;
	text-align: left;
	float: left;
	overflow: hidden;
	margin-bottom: 95px;
	margin-top: 25px;
}
.ss-container h2{
    font-size: 40px;
    text-transform: uppercase;
    color: rgba(78,84,123);
	text-shadow: 0px 1px 1px #fff;
	padding: 20px 0px;
}
.ss-container:before{
    position: absolute;
    width: 2px;
    background: rgba(17,17,22,0.8);
    top: 0px;
    left: 50%;
	margin-left: -2px;
    content: '';
    height: 100%;
}
.ss-row{
	width: 100%;
	clear: both;
	float: left;
	position: relative;
	padding: 10px 0;
}
.ss-left, .ss-right{
    float: left;
    width: 48%;
    position: relative;
}
.ss-right{
    padding-left: 2%;
}
.ss-left{
    text-align: right;
    float: left;
    padding-right: 2%;
}
.ss-circle{
    overflow: hidden;
    display: block;
    text-indent: -9000px;
    text-align: left;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: static;
	border:none;
	outline:none;
}
.ss-small .ss-circle{
	width: 100px;
	height: 100px;
}
.ss-medium .ss-circle{
	width: 310px;
	height: 310px;
}
.ss-large .ss-circle{
	width: 310px;
	height: 310px;
	border:none;
	outline:none;
}
@media screen and (max-width: 660px){
	.ss-medium .ss-circle{
	width: 200px;
	height: 200px;
}
.ss-large .ss-circle{
	width: 200px;
	height: 200px;
}
}

.ss-circle-deco:before{
	width: 9%;
	height: 0px;
	border-bottom: 4px dotted #ddd;
	border-bottom: 4px dotted #999;
	-webkit-box-shadow: 0px 1px 1px #fff;
	-moz-box-shadow: 0px 1px 1px #fff;
	box-shadow: 0px 1px 1px #fff;
	position: absolute;
	top: 50%;
	content: '';
	margin-top: -3px;
}
.ss-circle-deco:after{
	width: 0px;
	height: 0px;
	border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -10px;
}
.ss-left .ss-circle-deco:before{
    right: 2%;   
}
.ss-right .ss-circle-deco:before{
    left: 2%;   
}
.ss-left .ss-circle-deco:after{
	right: 0;
	border-right: 10px solid rgba(17,17,22,0.8);
}
.ss-right .ss-circle-deco:after{
	left: 0;
	border-left: 10px solid rgba(17,17,22,0.8);
}
.ss-left .ss-circle{
    float: right;
    margin-right: 10%;
}
.ss-right .ss-circle{
    float: left;
    margin-left: 10%;
}
.ss-container h3{
    margin-top: 34px;
	padding: 10px 15px;
	background: rgba(28, 53, 218, 0.6);/* Color Rectangel */
	text-shadow: 1px 1px 1px rgba(26, 27, 33, 0.8)
}
.ss-container-1 h3{
	background: rgba(218, 53, 218, 0.6);/* Color Rectangel */
}
.ss-container-2 h3{
	background: rgba(255, 255, 0, 0.9);/* Color Rectangel */
	color: #5F0034;
}
.ss-container-3 h3{
	background: rgba(28, 53, 218, 0.8);/* Color Rectangel */
}
.ss-container-4 h3{
	background: rgba(237, 28, 36, 0.6);/* Color Rectangel */
}
.ss-container-5 h3{
	background: rgba(0, 255, 0, 0.7);/* Color Rectangel */
    color: #5F0034;
}
.ss-container-6 h3{
	background: rgba(255, 0, 255, 0.6);/* Color Rectangel */
}
.ss-container-7 h3{
	background: rgba(57, 181, 74, 0.6);/* Color Rectangel */
}
.ss-container-8 h3{
	background: rgba(242, 74, 13, 0.8);/* Color Rectangel */
}
.ss-container-9 h3{
	background: rgba(255, 0, 0, 0.75);/* Color Rectangel */
}
.ss-container-10 h3{
	background: rgba(27, 20, 100, 0.7);/* Color Rectangel */
}

.ss-container .ss-medium h3{
	margin-top: 82px;
}
.ss-container .ss-large h3{
	margin-top: 133px;
}
@media screen and (max-width: 660px){
.ss-container .ss-large h3{
	margin-top: 95px;
}
}
.ss-container .ss-left h3{
	border-right: 5px solid rgba(164,166,181,0.8);
}
.ss-container .ss-right h3{
	border-left: 5px solid rgba(164,166,181,0.8);
}
.ss-container h3 span{
    color: #FFF;
	font-weight:normal;
    font-size: 20px;
    display: block;
    padding-bottom: 5px;
}
.ss-container-2 h3 span{
    color:  #5F0034;
	font-weight:normal;
    font-size: 20px;
    display: block;
    padding-bottom: 5px;
}
.ss-container-5 h3 span{
    color:  #5F0034;
	font-weight:normal;
    font-size: 20px;
    display: block;
    padding-bottom: 5px;
}
.ss-container h3 a{
    font-size: 28px;
    color: rgba(255,255,255,0.9);
    display: block;
}
.description{
    font-size: 24px;
	line-height:30px;
    color: #FFF;
	font-weight:normal;
    display: block;
}
.description2{
    font-size: 24px;
	line-height:30px;
    color: #5F0034;
	font-weight:normal;
    display: block;
}
.ss-container h3 a:hover{
	color: rgba(255,255,255,1);
}
@media screen and (max-width: 1017px){
	.ss-container h3 span{
		font-size:18px;
	}
	.description{
		font-size:22px;
		line-height:26px;
	}
    .description2{
		font-size:22px;
		line-height:26px;
	}

}
@media screen and (max-width: 530px){
.ss-container h3 span{
	font-size:14px;
	}
.description{
	font-size:18px;
	line-height:22px;
	}

	.description2{
	font-size:18px;
	line-height:22px;
	}
}
.ss-circle-1{
    background-image:url(../images/storie1.gif);
}
.ss-circle-2{
    background-image: url(../images/storie2.gif);
}
.ss-circle-3{
    background-image: url(../images/storie3.gif);
}
.ss-circle-4{
    background-image: url(../images/storie4.gif);
}
.ss-circle-5{
    background-image: url(../images/storie5.gif);
}
.ss-circle-6{
    background-image: url(../images/s2.gif);
}
.ss-circle-7{
    background-image: url(../images/storie7.gif);
}
.ss-circle-8{
    background-image: url(../images/rv.gif);
}
.ss-circle-9{
    background-image: url(../images/storie9.gif);
}
.ss-circle-10{
    background-image: url(../images/storie10.gif);
}
.ss-circle-11{
    background-image: url(../images/11.jpg);
}
.ss-circle-12{
    background-image: url(../images/12.jpg);
}
.ss-circle-13{
    background-image: url(../images/13.jpg);
}
.ss-circle-14{
    background-image: url(../images/14.jpg);
}
.ss-circle-15{
    background-image: url(../images/15.jpg);
}
.ss-circle-16{
    background-image: url(../images/16.jpg);
}
.ss-circle-17{
    background-image: url(../images/17.jpg);
}
.ss-circle-18{
    background-image: url(../images/18.jpg);
}
.ss-circle-19{
    background-image: url(../images/19.jpg);
}
.ss-circle-20{
    background-image: url(../images/20.jpg);
}
.ss-circle-21{
    background-image: url(../images/21.jpg);
}
.ss-circle-22{
    background-image: url(../images/22.jpg);
}
.ss-circle-23{
    background-image: url(../images/23.jpg);
}
.ss-circle-24{
    background-image: url(../images/24.jpg);
}
.ss-circle-25{
    background-image: url(../images/25.jpg);
}
.ss-circle-26{
    background-image: url(../images/26.jpg);
}
.ss-circle-27{
    background-image: url(../images/27.jpg);
}
.ss-circle-28{
    background-image: url(../images/28.jpg);
}
.ss-circle-29{
    background-image: url(../images/29.jpg);
}
.ss-circle-30{
    background-image: url(../images/30.jpg);
}

.clr {
	clear:both;
}

/* Bride en Groom */
#bride, #groom {
	width:95%;
	max-width:800px;
	margin:0 auto 50px auto;
	height:auto;
	overflow:hidden;
}
.bimage {
	float:left;
	width:100%;
	height:auto;
	margin-top:20px;
}
.bimage img {
	width:100%;
	height:auto;
}
.bimage_shona img {
	display: block;
	max-width:500px;
	width:95%;
	margin-left: auto;
    margin-right: auto;
	height:auto;
}
.bimage2 {
	display: block;
    margin-left: auto;
    margin-right: auto
}
.bimage2 img {
	width:75%;
	display: block;
    margin-left: auto;
    margin-right: auto
}
.bmiddle {
	float:left;
	
	width:92%;
	margin:2% 1% 1% 1%;
	overflow:hidden;
	text-align:left;
}
.bright{
	float:right;
}
.bmiddle p{
	font-size:20px;
	line-height:26px;
	text-shadow: 1px 1px 2px #fff;
}
@media screen and (max-width: 1017px){
.bmiddle{
	width:98%;
	float:left;
}
}
@media screen and (max-width: 400px){
.bmiddle p{
	font-size:18px;
	line-height:24px;
}
}

/* Bruid en bruidegom end */

/* Die gevolg*/
#party{
	width:100%;
	height:auto;
	padding-top:10px;
	padding-bottom:60px;
}
.wrapper{
	width:95%;
	max-width:800px;
	margin:0% auto;
	height:auto;
}
.st-accordion{
    width:100%;
    min-width:320px;
    margin: 0 auto;
}
.st-accordion ul{
	padding:0;
}
.icon, .icon2{
	height: 32px;
	width: 32px;
	margin-right:12px;
	border:none;
	outline:none;
}
.icon2{
	margin-left:12px;
}
.st-accordion ul li{
    height: 130px;
    border-bottom: 1px dashed #b0b0b0;
    overflow: hidden;
	text-align:center;
	width:100%;
	list-style:none;
}
.st-accordion ul li:first-child{
    border-top:none;
}
.st-accordion ul li > a{
    font-family: 'bariol_regularregular';
	color:#666;
    text-shadow: 1px 1px 1px #fff;
	text-decoration:none;
    font-size: 35px;
    display: block;
	position: relative;
    line-height: 130px;
	outline:none;
    -webkit-transition:  color 0.2s ease-in-out;
	-moz-transition:  color 0.2s ease-in-out;
	-o-transition:  color 0.2s ease-in-out;
	-ms-transition:  color 0.2s ease-in-out;
	transition:  color 0.2s ease-in-out;
}
.st-accordion ul li > a span{
	background: transparent url(../images/down.png) no-repeat center center;
	text-indent:-9000px;
	width: 26px;
	height: 14px;
	position: absolute;
	top: 50%;
	right: -26px;
	margin-top: -7px;
	opacity:0;
	-webkit-transition:  all 0.2s ease-in-out;
	-moz-transition:  all 0.2s ease-in-out;
	-o-transition:  all 0.2s ease-in-out;
	-ms-transition:  all 0.2s ease-in-out;
	transition:  all 0.2s ease-in-out;
}
.st-accordion ul li > a:hover{
    color: #660000;
}
.st-accordion ul li > a:hover span{
	opacity:1;
	right: 10px;
}
.st-accordion ul li.st-open > a{
    color: #660000;
}
.st-accordion ul li.st-open > a span{
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
    transform:rotate(180deg);
	right:10px;
	opacity:1;
}
.st-content{
    padding: 5px 0px 30px 0px;
	width:100%;
	display:block;
	overflow:hidden;
}
.left{
	float:left;
	width:46%;
	margin:1%;
	padding:1%;
	overflow:hidden;
	text-align:left;
	background-color:#ffffff;
	-moz-box-shadow: 0 0 5px 1px #e2e2e2;
	-webkit-box-shadow: 0 0 5px 1px #e2e2e2;
	box-shadow: 0 0 5px 1px #e2e2e2;
}
.left > img{
  width:100%;
  display:block;
  float: left;
  clear: both;
  margin-bottom:2%;
}
.right{
	float:right;
	width:46%;
	margin:1%;
	padding:1%;
	overflow:hidden;
	text-align:left;
	background-color:#ffffff;
	-moz-box-shadow: 0 0 5px 1px #e2e2e2;
	-webkit-box-shadow: 0 0 5px 1px #e2e2e2;
	box-shadow: 0 0 5px 1px #e2e2e2;
}
.right > img {
  width:100%;
  display:block;
  float: right;
  clear: both;
  margin-bottom:2%;
}
.st-content p{
    font-size: 25px;
    font-family: 'bariol_regularregular';
	text-decoration:none;
	text-align:center;
	color:#333;
}
.st-accordion ul li{
	height:auto;
}
.st-accordion ul li > a span{
	visibility:visible;
}

@media screen and (max-width: 760px){
.left{
	width:60%;
	margin:2%;

	padding:2%;
    overflow:hidden;
	text-align:center;
	float:left;
}
.right{
	width:60%;
	margin:2%;
	padding:2%;
	overflow:hidden;
	text-align:center;
	clear:left;
	float:left;
}
.st-content p{
	padding-bottom:10px;
}
}
@media screen and (max-width: 660px){
	.icon, .icon2{
		width: 30px;
		height:30px;
	}
}
@media screen and (max-width: 400px){
	.st-accordion ul li > a{
		font-size:25px;
	}
	.icon, .icon2{
		width:25px;
		height:25px;
	}
	.st-content p{
    font-size: 20px;
	padding-bottom:5px;
	}
}
/*Die gevolg end*/

/* Information */
#info{
	width:100%;
	height:auto;
	overflow:hidden;
	display:block;
	padding-bottom:5px;
}
#inligtingwrap{
	width:100%;
	max-width:1000px;
	margin:0% auto;
	height:auto;
	
}

.colleft, .colright {
	width:48%;
	height:auto;
	min-height:685px;
	margin:1%;
	float:left;
	overflow:hidden;
	background-color:#FFF;
	text-align:center;
	font-size:22px;
	
}

.colright {
	float:right;
	padding-bottom:0px;
}
.colleft > p, .colright > p{
	padding:10px;
	line-height:25px;
	font-weight:bold;	
}
.grey{
	color:#666;
	font-weight:normal;
}

.infostrip{
	width:100%;
	height:35px;
	padding:10px 0;
	background-color:#FF0000;
	color:#FFF;
	line-height:35px;
	font-size:25px;
	margin-bottom:10px;
}

.colright > .infostrip {
	margin-bottom:0px;
}
#mapcontainer{
	width:96%;
	margin:2%;
	height:auto;
	overflow:hidden;
}
#googft-mapCanvas {
	height: 765px;
	margin: 0;
	padding: 0;
	width: 100%;
}
#googft-mapCanvas a{
	color:#660000;
	text-decoration:underline;
}
.googft-info-window{
	text-align:left;
	font-size:14px;
}
@media screen and (max-width: 840px){
.colleft, .colright {
	width:94%;
	margin:3%;
}
.colright{
	float:left;
	clear:left;
}
}

#map{
	width:100%;
	height:765px;
	background-color:#FFF;
}
.infostripparty{
	width:100%;
	height:40px;
	padding:10px 0;
	background-color:#bc13fe;
	color:#39FF14;
	line-height:35px;
	font-size:60px;
	margin-bottom:10px;

}
#inligtingwrapparty{
	width:100%;
	max-width:1000px;
	margin:0% auto;
	height:auto;
	
	
 }
.middleframe {
	display:block;
	width:98%;
	height:auto;
	min-height:1225px;
	margin:1%;
	float:left;
	overflow:hidden;
	background-color:#FFF;
	background: url(../images/neonshoes.jpg);
	background-size: 100% 100%;
	text-align:center;
	font-size:25px;
	color:#39FF14;
	margin-bottom: 20px;
	
}

/*Fancybox*/

#gallery{
	width:100%;
	height:auto;
	overflow:hidden;
	padding-bottom:60px;
}
.gallerywrapper{
	width: 95%;
	max-width: 1000px;
	margin: 20px auto 0px auto;
	height: auto;
	overflow:hidden;
}
.thumb{
	width:23%;
	margin:1%;
	float:left;
	overflow:hidden;
	text-align:center;
}
.fancybox > img{
  width:100%;
  display:block;
  float: left;
  clear: both;
}
@media screen and (max-width: 520px){
.thumb{	
	width:48%;
}
}

/*Fancybox end*/

/* Geskenke */
#geskenke {
	width:100%;
	height:auto;
	overflow:hidden;
	display:block;
	padding-bottom:60px;	
}
#geskenkwrap{
	width:96%;
	max-width:1000px;
	margin:0% auto;
	height:auto;
	text-align:center;
	font-size:22px;
	line-height:25px;
	text-shadow: 1px 1px 2px #fff;
	padding-bottom:20px;
	padding-top:20px;
}
#geskenkwrap ul{
	list-style-type:disc;
	margin-bottom:60px;
	margin-top:30px;
}
#geskenkwrap ul li{
	list-style-type:none;
	display: block;
    text-align:center;
    margin:0 auto;
	width:23%;
	height:auto;
	
	background-color:#FFF;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
#geskenkwrap ul li:hover{
	opacity:0.8;
	filter:alpha(opacity=80);
}
#geskenkwrap ul li img{
	max-width:200px;
	width:100%;
	height:auto;
	vertical-align:middle;
	border:none;
	outline:none;
}
.nota {
	font-size:18px;
	padding-top:20px;
	clear:both;
}
@media screen and (max-width: 760px){
#geskenkwrap ul li{
	width:48%;
}
}
/* Geskenke end */


.photostrip1, .photostrip2, .photostrip3, .photostrip4{
	clear:both;
	width:100%;
	min-height:750px;
	height:100%;
	background-position:center center;
	background-repeat:no-repeat;
	-ms-behavior: url(/backgroundsize.min.htc);
	background-attachment:fixed;
	-webkit-background-size: contain;
  	-moz-background-size: contain;
  	-o-background-size: contain;
  	background-size: contain;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	z-index: 0;
	
}
.photostrip1{
	background-image:url(../images/strip1.png);
}
.photostrip2{
	background-image:url(../images/strip2.jpg);
}
.photostrip3{
	background-image:url(../images/strip3.jpg);
	background-position-y: 50px;
}
.photostrip4{
	margin-top:230px;
	background-image:url(../images/strip4.jpg);

}


/*
This next definition doesn't allow the background to get any smaller
than a predefined size. Change the values
here to match your background image size. The configuration in the
flexi-background javascript file should also match these values.
*/
 
@media only all and (max-width: 1024px) and (max-height: 1024px) {
.photostrip1, .photostrip2, .photostrip3, .photostrip4{
background-size: 140% auto;
-moz-background-size: 140% auto;
-webkit-background-size: 140% auto;
background-attachment:scroll;
}
}
 
/*
The next 2 definitions are for support in iOS devices.
Since they don't recoginze the 'cover' keyword for background-size
we need to simulate it with percentages and orientation

1200px 787px;
 
@media only screen and (orientation: portrait) and (device-width: 320px), (device-width: 768px) {
.photostrip1, .photostrip2, .photostrip3, .photostrip4{
-webkit-background-size: auto 100%;
}
}
 
@media only screen and (orientation: landscape) and (device-width: 320px), (device-width: 1024px) {
.photostrip1, .photostrip2, .photostrip3, .photostrip4{
-webkit-background-size: 100% auto;
}
}
*/

@media screen and (max-width: 520px){
.photostrip1, .photostrip2, .photostrip3, .photostrip4{
	display:none;
}
}

/*RSVP*/

#rsvp{
	width:96%;
	padding-bottom:20px;
	max-width:500px;
	height:auto;
	margin:0 auto;
	overflow:hidden;
	font-size:22px;
	line-height:28px;
	font-weight:normal;
	color:#000;
	text-align:center;
	text-shadow: 1px 1px 2px #fff;
	margin-bottom:20px;
}
#rsvp a, #design a{
	color:#660000;
	text-decoration:none;
}

#rsvp p{
	margin-top:20px;
}


#rsvpcontainer {
   overflow:hidden;
   max-width:600px;
   height:auto;
   color: #648880;
   width: 100%;
 }
 .rsvpcontainer h1 {
 	max-width:600px;
 }


}
.colrsvpleft, .colrsvpright,.colrsvpmid {
	width:31%;
	height:auto;
	min-height:225px;
	margin:1%;
	float:left;
	overflow:hidden;
	background-color:#FFF;
	text-align:center;
	font-size:22px;
	padding-bottom:10px;
	margin-bottom:50px;
}
.colrsvpleft h2, .colrsvpright h2,.colrsvpmid h2{
	text-align:center;
}

.buttonsubmit {
	width:20%;
	margin:0 auto; 
	display: block;
	text-align:center;

}



/*RSVP*/

#design{
	width:100%;
	height:auto;
	font-size:16px;
	line-height:20px;
	text-shadow: 1px 1px 2px #fff;
	text-align:center;
	width:100%;
	border-top:dashed 1px #bcbcbc;
	padding-top:10px;
	padding-bottom:20px;

}
#footerline {
    background-image: url(../images/heartline.png);
    background-repeat: repeat-x;
    background-position: top left;
    height: 25px;
 	width: 100%;
 	display: block;
 	text-align:center;
 	font-size:16px;
	line-height:20px;
	text-shadow: 1px 1px 2px #fff;
	
	

}
#footer {
   
	background: url(../images/rainbow.jpg);
	background-size: 100% auto;
	padding-top: 25px;
    padding-bottom:20px;
    text-align: center;
}


.logo {
	clear:both;
	background-image:url(../images/CVOdesigns_logo.png);
	background-repeat:no-repeat;
	background-position:center center;
	text-indent:-9999px;
	width:180px;
	height:40px;
	margin:5px auto 0px auto;
}
.logo a{
	outline:none;
	border:none;
}

#contact-form{
	width:96%;
	
}
.contactformrow {
    width:33%;
	margin:1%;
	float:left;
	overflow:hidden;
	text-align:center;
}	


input[type="submit"].css_button {

display: block;
text-align:center;
margin:0 auto;
background-color: #C92828;
width: 280px;
padding: 7px 10px;
color: rgba(9, 15, 30, 0.8);
/*text-transform: uppercase;*/
border: 2px solid #8D2C42;
font-weight: bold;
font-weight:600;
font-size: 35px;	
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-border-radius: 3px;

text-align:center;
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8), 0 -1px 0 rgba(25, 27, 9, 0.9); 	
-moz-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6), inset 0 1px 2px rgba(255, 255, 255, 0.6), 0 5px 0 #3a79a4, 0 6px 0 #593a11, 0 13px 0 #ccc;
-webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6), inset 0 1px 2px rgba(255, 255, 255, 0.6), 0 5px 0 #3a79a4, 0 6px 0 #593a11, 0 13px 0 #ccc;
-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6), inset 0 1px 2px rgba(255, 255, 255, 0.6), 0 5px 0 #3a79a4, 0 6px 0 #593a11, 0 13px 0 #ccc;
-webkit-transition: background 0.2s ease-out;
}

input[type="submit"].css_button:hover, input[type="submit"].css_button:focus {
background: #E9FF15;
border: 2px solid #CEE219;
-moz-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.7), inset 0 2px 1px rgba(255, 255, 255, 0.5), 0 5px 0 #4886b1, 0 6px 0 #593a11, 0 13px 0 #ccc;
-webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.7), inset 0 2px 1px rgba(255, 255, 255, 0.5), 0 5px 0 #4886b1, 0 6px 0 #593a11, 0 13px 0 #ccc;
-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.7), inset 0 2px 1px rgba(255, 255, 255, 0.5), 0 5px 0 #4886b1, 0 6px 0 #593a11, 0 13px 0 #ccc;
}
	
input[type="submit"].css_button:active {
background: #A5107D;
border: 2px solid #720354;
position: relative;
top: 5px;
-moz-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.4), inset 0 1px 2px rgba(255, 255, 255, 0.5), 0 3px 0 #205993, 0 4px 0 #593a11, 0 8px 0 #ccc;
-webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.4), inset 0 1px 2px rgba(255, 255, 255, 0.5), 0 3px 0 #205993, 0 4px 0 #593a11, 0 8px 0 #ccc;
-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.4), inset 0 1px 2px rgba(255, 255, 255, 0.5), 0 3px 0 #205993, 0 4px 0 #593a11, 0 8px 0 #ccc;
}


}